*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

height:100vh;

background: linear-gradient(
135deg,
#ffb6c1,
#0f0c29,
#24243e,
#4facfe
);

display:flex;
justify-content:center;
align-items:center;
}

.container{

background: rgba(255,255,255,0.08);

backdrop-filter: blur(15px);

padding:40px;

border-radius:20px;

width:380px;

text-align:center;

box-shadow:0 20px 40px rgba(0,0,0,0.4);
}

.logo{

width:120px;
margin-bottom:10px;

}

h1{

color:white;
font-size:32px;
margin-bottom:5px;

}

.subtitle{

color:#ddd;
margin-bottom:25px;

}

input{

width:100%;

padding:12px;

margin:10px 0;

border:none;

border-radius:10px;

background:rgba(255,255,255,0.2);

color:white;

font-size:14px;

outline:none;

}

input::placeholder{
color:#ddd;
}

button{

width:100%;

padding:12px;

margin-top:10px;

border:none;

border-radius:10px;

background:linear-gradient(45deg,#ff4b8a,#4facfe);

color:white;

font-weight:600;

font-size:15px;

cursor:pointer;

transition:0.3s;
}

button:hover{

transform:scale(1.05);

box-shadow:0 10px 20px rgba(0,0,0,0.4);

}

.result{

margin-top:25px;

padding:20px;

background:rgba(0,0,0,0.4);

border-radius:12px;

color:white;

}

.result h2{
color:#4facfe;
margin-bottom:10px;
}
